/****************** Main Tags *******************/

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  background-color: #f4f7ff;
  background-image: url('..//images/bg-pattern-circle.svg');
  background-repeat: no-repeat;
  background-position: left 120% top -600px;
}

footer {
  background-color: #1b262f;
  background-image: url('..//images/bg-pattern-circle.svg');
  background-repeat: no-repeat;
  background-position: right -300px top -150px;
}

p {
  color: #6c8294;
  line-height: 1.5;
  font-size: 1rem;
  margin: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
}

a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #36536b;
  padding: 15px 0;
  font-size: 1.2rem;
}

/******************************************************************/

/***************************** Headings ******************************/

h1,
h2,
h3,
h4 {
  font-family: 'DM Serif Display', serif;
  color: #36536b;
}

h1 {
  font-size: 4rem;
  width: 800px;
}

h2 {
  font-size: 1.8rem;
}

.second-form-section h2 {
  font-size: 2.5rem;
}

h3 {
  color: #36536b;
  font-size: 3.5rem;
  margin: 10px 0;
}

/**************************************/

/******************** Main Form *******************/

#name-error,
#email-error,
#company-name-error,
#title-error,
#message-error {
  font-size: 0.6rem;
  color: red;
}

#submit-form p {
  margin: 15px 0;
}

#submit-form p {
  color: #36536b;
}

#submit-btn {
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 40px;
  letter-spacing: 1px;
  border: 1.5px solid #36536b;
  color: #36536b;
  border-radius: 30px;
  max-width: fit-content;
  transition: all 0.2s ease-in-out;
}

#submit-btn:hover {
  background-color: #36536b;
  color: #fbfcfe;
}

label,
input {
  display: block;
}

p input {
  color: #36536b;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: #36536b solid 1.5px;
  background-color: #f4f7ff;
}

textarea {
  color: #36536b;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: #36536b solid 1.5px;
  background-color: #f4f7ff;
}

.inline-block input,
.inline-block label {
  width: fit-content;
}

.inline-block {
  margin: 15px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.inline-block input {
  margin: 0;
}

/*****************************************/

/******************* Lists ********************/

/************ Containers **********/

.container {
  padding: 0 10%;
  max-width: 1140px;
  margin: 0 auto;
}

.second-form-section {
  margin: 3% 0;
}

.heading {
  margin-bottom: 50px;
}

/**********************************************/

/****************************** Flex Containers *****************************/

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-form .flex-box:nth-child(1) {
  gap: 100px;
}

.second-form-section .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-box {
  align-self: flex-start;
}
/****************************************************************/

/************************** Nav Bar ***********************/

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.nav-box {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-menu-hidden {
  list-style: none;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 0px;
  left: -100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  background-color: #1b262f;
  color: #fbfcfe;
}

.white-logo {
  padding-top: 24px;
}

.nav-menu-hidden a {
  color: #fbfcfe;
  width: fit-content;
}

.nav-menu-hidden li {
  padding-left: 10%;
}

.nav-menu-hidden .nav-item:nth-child(1) {
  border-bottom: #36536b solid 1px;
  margin-bottom: 100px;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 1.5px;
  background-color: #36536b;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

footer .nav-link::after,
.nav-menu-hidden .nav-link::after {
  background-color: #fbfcfe;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-footer-link {
  display: flex;
  gap: 1rem;
}

footer .nav-link {
  color: #fbfcfe;
}

/*****************************************************/

/************************* Buttons Icons Images Form *********************/

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1;
}

.bar {
  display: block;
  margin: 5px 0;
  width: 30px;
  height: 3px;
  background-color: #36536b;
  transition: all 0.3s ease-in-out;
}

.nav-button,
.nav-button-hidden {
  display: block;
  background-color: #ba4270;
  border: none;
  color: #fbfcfe;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav-button:hover,
.nav-button-hidden:hover,
.form-btn:hover {
  background-color: #c3517c;
}

.bottom-input-email {
  display: block;
  border: none;
  border-radius: 30px;
  background-color: white;
  padding: 15px;
  width: 400px;
  box-shadow: 1px 1px 10px #36536b;
  outline: none;
}

.form-btn {
  display: block;
  background-color: #ba4270;
  border: none;
  color: #fbfcfe;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.form {
  position: relative;
}

.bottom-form-btn {
  position: absolute;
  right: 0;
  top: -1px;
}

/*********************************************************/

/******************************** Media Query ************************************/

@media (max-width: 1310px) {
  body {
    background-position: left 170% top -600px;
  }
}

@media (max-width: 1170px) {
  .img-box {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .row {
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 1065px) {
  body {
    background-position: left 250% top -600px;
  }

  h1 {
    font-size: 3.5rem;
    width: 700px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .logo {
    width: 120px;
  }
}

@media (max-width: 1000px) {
  .main-form .flex-box:nth-child(1) {
    gap: 50px;
  }

  .flex-box {
    flex-direction: column;
  }

  .img-box {
    flex-direction: column;
    justify-content: space-between;
  }

  .row {
    flex-direction: row;
  }

  .second-form-section {
    margin: 10% 0;
  }

  .second-form-section h2 {
    margin: 15px 0;
  }

  .form {
    position: static;
    display: flex;
    align-items: center;
  }

  .bottom-form-btn {
    position: relative;
    margin: 15px;
    right: 60px;
  }

  .bottom-input-email {
    width: 300px;
    position: relative;
    margin: 15px;
    left: 60px;
  }

  .content-box {
    align-self: initial;
  }

  h1 {
    text-align: center;
    width: 100%;
  }

  h2 {
    text-align: center;
    font-size: 1.8rem;
  }
}

@media (max-width: 920px) {
  body {
    background-position: left 500px top -600px;
  }

  header .nav-menu,
  .nav-button {
    display: none;
  }

  .second-form-section h2 {
    font-size: 2rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fbfcfe;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fbfcfe;
  }

  .nav-menu-hidden.active {
    left: 0;
  }
}

@media (max-width: 900px) {
  footer .nav-box,
  footer .nav-menu {
    gap: 1.2rem;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 750px) {
  body {
    background-position: left 350px top -600px;
  }

  footer {
    padding: 10% 0;
    height: 400px;
    background-position: center top 150px;
  }

  footer .nav-bar,
  footer .nav-box,
  footer .nav-menu {
    flex-direction: column;
  }

  footer .nav-menu {
    gap: 20px;
  }

  footer .nav-link {
    width: fit-content;
  }

  footer .nav-bar {
    gap: 50px;
  }

  .form {
    flex-direction: column;
  }

  .bottom-form-btn {
    position: static;
    margin: 15px auto;
    width: 330px;
  }

  .bottom-input-email {
    position: static;
    margin: 15px auto;
  }
}

@media (max-width: 645px) {
  body {
    background-position: left 150px top -600px;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 590px) {
  .img-box {
    flex-direction: row;
    justify-content: center;
  }

  .row {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 374px) {
  body {
    background-position: left 100px top -600px;
  }

  .bottom-input-email {
    width: 250px;
  }

  .form-btn {
    width: 280px;
  }

  .logo {
    width: 100px;
  }
}
